body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
    
}

header{
    padding: 10px;
    background-color: aquamarine;
    border-left: 5px solid black;
}

h1{
    color: darkslategrey;
}

h2{
    color: slategray;
    background-color: rgb(220, 231, 142);
    padding: 10px;
}

p{
    color: white;
    
}

ul{
    list-style-type: circle;
    color: blueviolet;
}

ol{
  list-style-type: decimal;  
}